<Alloy>
	<Window class="container" title="UPCOMING EVENTS">
		<View platform="android" height="50dp" width="Ti.UI.FILL" top="0dp">
			<View width="Ti.UI.FILL" height="Ti.UI.FILL" backgroundColor="#fff" opacity="1" />
			<View width="Ti.UI.FILL">
				<View backgroundImage="/images/icons/back.png" onClick="closeWindow" left="10dp" top="10dp" bottom="10dp" height="30dp" width="30dp" />
				<Label color="#313646" class="page_title" >UPCOMING EVENTS</Label>
				<View backgroundImage="/images/icons/home.png" onClick="goToHome" right="10dp" top="10dp" bottom="10dp" height="30dp"  width="30dp" />
			</View>
		</View>
		<View class="color_seperator"  platform="android" height="1dp" width="Ti.UI.FILL" backgroundImage="/images/common/color_sep.png" top="50dp" />
		<View class="color_seperator"  platform="ios" height="1dp" width="Ti.UI.FILL" backgroundImage="/images/common/color_sep.png" top="0dp" />
		<ScrollView class="scrollView" id="event_view" >
			<View id="event_item_container">
				<!--<ImageView image="/images/icons/events.png" class="news_image" />
				<Label class="news_title">UPCOMING EVENTS</Label>
				<ImageView image="/images/common/chevron.png" class="news_arrow" />-->
			</View>
		</ScrollView>
		<RightNavButton platform="ios">
        	<Button image="/images/icons/home.png" onClick="goToHome" />
		</RightNavButton>
		<LeftNavButton platform="ios">
        	<Button image="/images/icons/back.png" onClick="closeWindow" />
		</LeftNavButton>
	</Window>
</Alloy>